body {
    direction: rtl;
    line-height: 2;
    font-size: 14px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none; 
    display: inline-block;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link {
    color: #ffffff;
}

/*BAR HEADER*/
.main-header {
    display: flex;
    flex-direction: column;
}
.bg-bar-header {
    background: url(./img/red-bg.png) no-repeat;
    background-size: cover;
    background-position: top;
}
.bar-header {
    display: flex;
    max-width: 90%;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
}
.contact {
    display: flex;
    flex: 0 1 25%;
    justify-content: flex-end;
}
.contact .owner-name {
    color: #ffffff;
    font-size: 90%;
}
.special-sale {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    min-width: 40%;
    flex: 0 1 40%;
}
.special-sale .item {
    color: #ffffff;
    font-size: 90%;
}
.text-bar span {
    background-color: rgb(255, 230, 0);
    border-radius: 15%;
    padding: 5px;
    margin: 0 3px;
    color: #000000;
}
/*GUIDE-HEADER*/
.bg-guide-header {
    background: url(./img/header.png) no-repeat;
    background-size: cover;
}
.guide-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 90%;
    height: 30vh;
    margin: 0 auto;
}
.support-buy {
    display: flex;
    flex-basis: 30%;
}
.support-buy-item {
    padding: 0 5px;
    color: #ffffff;
}
.guide-items {
display: flex;
justify-content: flex-start;
align-items: baseline;
}
.guide-items .header-input-link:first-child {
    background-color: #ff8175;
    border-radius: 3px;
    padding: 5px 7px;
    margin-left: 20px;
    min-width: 12%;  
    flex-shrink: 1 ;

}
.cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}
.guide-items .header-input-link:last-child {
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 3px;
}
.production, .search-icon {
    border: none;
    background-color: #ffffff;
    padding: 8.5px 12px;
}
.search-icon {
    color: #818181;
}
/* NAV-HEADER */
.last-part-header {
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.2);
    position: sticky;
}
.nav-header {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
}
.first-nav {
    font-size: 135%;
    width: 55%;
}
.seconde-nav {
    display: flex;
    width: 30%;
    align-items: baseline;
}
.navigation-list {
    display: flex;
    justify-content: space-between;
}
.item-navigation-list a {
    color: #818181;
}
.social-network {
    display: flex;
    flex: 0 1 45%;
    justify-content: space-between;
}
.share {
    flex: 0 1 60%;
}
.sub-item-navigation-list {
    display: none;
}
.item-navigation-list .home,
.item-social-network a,
.share {
    color: #c595c5;
}
.item-navigation-list .home:hover,
.item-social-network a:hover,
.share:hover  {
    color: #8d478d;
}
/* MAIN PART */
.main-part {
    background-color: #f5eaf5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
section {
    margin: 1.5em 0;
}
/* FIRST SECTION */
.first-section {
    max-width: 90%;
    height: 60vh;
    position: relative;
    margin-top: 2.5em;
}
.first-section h1 {
    width: 25%;
    position: absolute;
    top: 30%;
    left: 10%;
    display: flex;
    color: #ffffff;
    font-size: 280%;
    line-height: 1;
}
.first-section img {
    width: 100%;
}
.hero-text a :only-child {
    font-weight: bold;
    font-size: 160%;
    text-shadow: 3px 5px 0px #727272;
}

/* SECONDE SECTION */
.seconde-section {
    max-width: 85%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.figuration {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-shrink: 1;
    max-width: 15%;
    height: 100%;    
}
.figuration .img-fig {
    width: 100%;
    height: 100%;   
    object-fit: cover;
}
.figuration a {
    flex: 4 1; 
    max-height: 90%
}
.figuration figcaption {
    background-color: #ffffff;
    margin: -10px;
    width: 100%;
    flex: 0 1;
    font-size: 140%;
    color: #727272;
    max-height: 20%;
}
.angle-icon {
    align-self: center;
    font-size: 170%;
    color: #727272; 
}
/* THIRD SECTION */
.third-section {
    width: 90%;
    height: 10vh;
    background-color: #ffffff;
    border: 1px solid  #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
}
.most-sale, .list-product {
    display: flex;
    flex-shrink: 1;
    justify-content: space-around;
    align-items: baseline;
    font-size: 100%;
    width: 15%;
    margin-left: 2em;
    margin-right: 2em;
    color: #727272;
}
.most-sale a,
.list-product a {
    flex-shrink: 1;
    color: #727272;
}
.most-sale a:hover {
    color: #3b3b3b;
}
.list-product a:hover {
    color: #ba0ba5;
}
/* SECTION FORTH */
.section-forth {
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.four-card-product {
    background-color: #ffffff;
    border: 1px solid  #e0e0e0;
    align-self: stretch;
    position: relative;
    height: 100%; 
    width: 23%;
}
.stock {
    position: absolute;
    top: 7%;
    right: 65%;    
}
.stock a :first-child {
    color: #727272;
}
.stock a :last-child {
    background-color:  #c5e60c;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 80%;
    color: #ffffff;
}
#fa-times {
    padding: 0.5em 0.6em;
    background-color: #ea0000;
}
.card-product {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}
.img-product {
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.card-product a {
    height: 95%;
    width: 90%;
}
.icon-circle {
    display: flex;
    width: 45%;
    justify-content: space-around;
    padding: 1em 0;
}

.icon-circle li a {
    background-color:  #e0e0e0;
    color: #8b8b8b;
    display: block; 
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.icon-circle li a:hover {
    background-color:  #ff8175;
    color: #ffffff;
}
.icon-circle li:nth-child(3) a {
    background-color:  #ff8175;
    color: #ffffff;
}
.icon-circle li:nth-child(3) a:hover {
    background-color:  #ff5242;
}
.icon-circle li a i {
    font-size: 0.8em;
    padding: 0.8em;
}

.text-product {
    width: 60%;
    align-self: center;
}
.text-product a {
    color: #ba0ba5;
    padding: 0 0.2em;
    text-align: center;
    width: 100%;
}
.price {
    width: 45%;
    text-align: center;
    color: #727272;
}
/* FIFTH SECTION */
.fifth-section {
    display: flex;
    background-color: #e6b30c;
    border: 1px solid #e0e0e0;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 30vh;
}
.adv-pic {

}
.adv-first-text,
.adv-sec-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 140%;
}

.adv-first-text {
    color:#000000ab;
}
.adv-sec-text {
    align-items: center;
    color: #616a77;
    font-weight: bold;
}
.adv-sec-text p:first-child {
    color: #ff5242;
}
.adv-btn { 
    width: 12%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.submit-btn {
    color: #ffffff;
    width: 100%;
    font-size: 120%;
}
.submit-btn.red {
    background-color: rgb(228, 17, 17);
}
.submit-btn.gray { 
    background-color: #768192;
}
/* SECTION BANNER */
.section-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 70vh;
}
.row-banner {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.small-banner,
.large-banner {
    position: relative;
}
.small-banner {
    width: 23%;
}
.large-banner {
    width: 48%;
}
.large-banner.pink {
    order: -1;
}

.absolute {
    position: absolute;
    top: 40%;
    right: 20%;
    width: 60%;
    background-color: #ffffffb4;
    font-size: 130%;
    font-weight: 600;
    color: #6c757d;
    text-align: left;
    padding-left: 1em;
}
.absolute-large {
    position: absolute;
    top: 25%;
    right: 60%;
    display: flex;
    flex-direction: column;
}
.img-banner {
    width: 100%;
}
.brand {
    font-size: 140%;
    font-weight: bold;
    color: #ffffff;
    
}
.brand + a { 
    font-size:120%;
    color: #ffffff;
}
.sale { 
    width: 50%; 
    background-color: #f1cf0d;
    font-size: 120%;
    align-self: flex-end;
    text-align: center;
}
.sale i {
    color: #ffffff;
    margin-right: 1em;
}
/* REPEAT SECTION FORTH */
.stock.sec-stock {
    top: 5%;
    right: 69%;    
}
.card-product.sec-card-product a {
width: 80%;
}
.card-product.sec-card-product {
    margin-top: 2em;
}